[CLUSTER]
HOST=
DB_NAME=dwh
DB_USER=awsuser
DB_PASSWORD=123
DB_PORT=5439

[AWS]
KEY=ASC1616A5SCA1CA61S
SECRET=asdc85z1AS98cz6z9A9

[IAM_ROLE]
ARN=

[DWH]
DWH_CLUSTER_TYPE=multi-node
DWH_NUM_NODES=4
DWH_NODE_TYPE=dc2.large

DWH_IAM_ROLE_NAME=dwhRole
DWH_CLUSTER_IDENTIFIER=dwhCluster

[ANGELCO]
email=your@email.com
password=yourPassw0rd_!
